---
name: "Run Tests"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test-main:
    strategy:
      fail-fast: false
      matrix:
        ruby: ['4.0', 'jruby-10.0']
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    # Workaround for https://github.com/actions/runner-images/issues/13647
    - name: Fix gem directory permissions
      run: sudo chmod +t $(ruby -e 'puts Gem.default_dir')/gems
    - name: "Ruby: ${{ matrix.ruby }}"
      run: bundle install && bundle exec rake test
